.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 1rem;
  min-height: 100vh;
}

.link {
  color: #fff;
  background-color: #0070f3;
  font-weight: bold;
  text-decoration: none;
  border: .1rem solid #92bef0;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 70%;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #0070f3;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .3rem;
  width: 100%;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: .5rem;
  border-radius: .4rem;
  border: .1rem solid transparent;
  outline: none;
  transition: .3s;
  background-color: #a9bcd1;
  color: #000;
} .input:focus {
  border: .1rem solid rgb(20, 32, 144);
  box-shadow: .1rem .1rem .3rem #00000059;
}

.buttonForm {
  width: 50%;
  padding: .7rem 0;
  border-radius: .4rem;
  border: .1rem solid #002957;
  background-color: #92bef0;
  color: black;
  font-weight: bold;
  transition: .4s;
} .buttonForm:hover {
  background-color: #dadada;
  box-shadow: .1rem .1rem .3rem #00000059;
  cursor: pointer;
}